.container-title-section {
  width: 95%;
  text-align: left;
  margin: 0px 10px 10px 30px;
  padding: 12px 0px 0px 0px;

  #text {
    color: #00a8cc;
    font-size: 200%;
    font-family: "Nunito", sans-serif;
  }
}
