$darkColor: #272727;
$dangerColor: #ef4b4b;
$primaryColor: #4f81c7;

.general-img-file {
  display: block;
  margin: 15px 25px;
  padding: 0px;
}

.gen-comp-fileImg {
  font-family: 'Nunito', sans-serif;
  color: $darkColor;
  padding: 5px 10px;
}

.tag-comp-imgFile {
  font-size: 100%;
  display: block;
  box-sizing: border-box;
}