$darkColor: #272727;

.general-radios {
  margin: 15px 25px;
  padding: 0px;
}

.general-radio-comp {
  font-family: 'Nunito', sans-serif;
  color: #192965;
}

.general-tagR {
  font-size: 120%;
  margin: 0px 0px 10px 10px;
}

.item-lbl-radio {
  margin: 0px 0px 0px 30px;
  display: inline-block;
}

.tag-itemR {
  color: $darkColor;
  margin: 0px 10px 0px 0px;
}