$darkColor: #272727;
$dangerColor: #ef4b4b;
$primaryColor: #4f81c7;

.general-text {
  display: block;
  margin: 15px 25px;
  padding: 0px;
}

.general-comp {
  font-family: 'Nunito', sans-serif;
  color: $darkColor;
  padding: 5px 10px;
}

.general-label {
  font-size: 100%;
  display: block;
  box-sizing: border-box;
}

.general-label:hover {
  color: $primaryColor;
}

.general-textfield {
  display: block;
  width: 100%;
  height: 22px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  font-size: 75%;
  box-sizing: border-box;
}

.general-textfield:hover {
  border-bottom-width: 1px;
  border-bottom-color: $primaryColor;
}

.general-textfield:focus {
  border-bottom-width: 2px;
  border-bottom-color: $primaryColor;
}

#req {
  font-family: 'Nunito', sans-serif;
  color: $dangerColor;
  font-size: 50%;
  float: right;
  margin: 3px 10px 1px 1px;
}

.border-text {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
}

.is-req {
  border-bottom-color: $dangerColor;
}

.no-req {
  border-bottom-color: $darkColor;
}