$darkColor: #272727;

.general-checks {
  margin: 15px 25px;
  padding: 0px;
}

.general-check-comp {
  font-family: 'Nunito', sans-serif;
  color: #192965;
}

.general-tag {
  font-size: 120%;
  margin: 0px 0px 10px 10px;
}

.item-lbl-check {
  margin: 0px 0px 0px 30px;
  display: inline-block;
}

.tag-item {
  color: $darkColor;
  margin: 0px 10px 0px 0px;
}